@mixin rowSpaced($direction: column, $align: center) {
    display: flex;
    align-items: $align;
    justify-content: space-between;
    flex-direction: $direction;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 500;
}

.divider-top {
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid $stroke-soft;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-span-2 {
        grid-column: span 2/span 2;
    }
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
    color: $text-500;
    background: #fff;
    border: 1px solid $stroke-soft;
    border-radius: 10px;
    &-primary {
        color: #fff;
        background: $theme-color;
        border-color: $theme-color;
        &-outline {
            color: $theme-color;
            background: transparent;
            border: none;
        }
    }
    &-outline {
        background: transparent;
        border: none;
    }
}

.card {
    padding: 10px;
    border: 1px solid $stroke-soft;
    border-radius: 16px;
    .header {
        @include rowSpaced($direction: row);
        h3 {
            font-size: 16px;
        }
        .infos {
            display: flex;
            gap: 10px
        }
    }
}

.list-items {
    @include rowSpaced($align: initial);
    gap: 10px;
    padding-left: 0;
    list-style: none;
    margin-bottom: 5px;
    .item {
        @include rowSpaced($direction: row);
    }
}