.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.divider-top {
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid $stroke-soft;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-span-2 {
        grid-column: span 2/span 2;
    }
}